body {
  margin: 0 auto;
}

body.hero {
  min-width: 0;
  width: 100%;
}

body.hero #main-content {
  max-width: 100% !important;
}

#landing-page-wrap * {
  box-sizing: border-box !important;
}

#landing-page-wrap {
  background: url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/header-bg-slice.jpg), url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/footer-bg-slice-2-opt.jpg);
  background-position: top center, bottom center;
  background-repeat: repeat-x;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  position: relative;
  background-color: #e5f4ff;
  font-size: 16px;
  overflow: hidden;
}
#landing-page-wrap * {
  box-sizing: border-box;
}
#landing-page-wrap *,
#landing-page-wrap *::after {
  box-sizing: inherit;
}
#landing-page-wrap img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
#landing-page-wrap h1, #landing-page-wrap h2, #landing-page-wrap h3, #landing-page-wrap h4 {
  color: #3d7ec5;
  line-height: 1.3;
  margin-bottom: 0.5em !important;
}
#landing-page-wrap h2, #landing-page-wrap h4 {
  font-family: MuseoSans-500, arial, helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.3;
  letter-spacing: 0.5px;
}
#landing-page-wrap p {
  font-family: "UniversLTPro-55Roman", arial, helvetica, sans-serif;
  margin-top: 0 !important;
  padding-top: 0 !important;
  font-size: 18px;
  margin: 0 auto 1.4em;
  font-family: MuseoSans-500, arial, helvetica, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#landing-page-wrap .content-container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
#landing-page-wrap hr {
  color: #3d7ec5;
  max-width: 700px;
}
#landing-page-wrap .divider {
  background: url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/divider-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 100%;
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

#hero {
  font-size: 1em;
  text-align: center;
  padding: 8em 0 0;
  background-size: auto 100%;
}
#hero .hero-logo {
  max-width: 450px;
  width: 96%;
  margin: 0 auto;
}
#hero .hero-title {
  max-width: 580px;
  width: 96%;
  margin: 0 auto;
}
#hero .title {
  font-family: MuseoSans-500, arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600 !important;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3.6em;
  letter-spacing: 1.05px;
  text-shadow: 2px 2px 4px white;
  margin-top: 0.2em;
}
#hero h2 {
  font-weight: normal;
  max-width: 400px;
  margin: 0 auto 1.4em !important;
}

@media screen and (max-width: 520px) {
  #hero {
    font-size: 0.7em;
    font-size: 3vw;
  }
}
#featured-products {
  background: url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/snowflake-background.png);
  background-repeat: repeat;
  background-position: top left;
}
#featured-products .product-row {
  padding: 120px 0 0;
  align-items: center;
}
#featured-products .product-row .product-image {
  max-width: 400px;
  margin: 0 auto;
}
#featured-products .product-row .product-text {
  background: transparent;
}
#featured-products .product-row .product-title {
  font-size: 28px;
  color: #3d7ec5;
}
#featured-products .product-row p {
  line-height: 1.5;
  font-size: 19px;
}
#featured-products .product-row .product-buttons {
  margin: 1em 0;
}
#featured-products .product-row a.shop.btn {
  font-size: 20px;
  color: #222;
  text-decoration: none;
  font-family: "UniversLTPro-55Roman", arial, helvetica, sans-serif;
  margin: 10px 0 0;
  font-family: "UniversLTPro-55Roman", arial, helvetica, sans-serif;
  padding: 14px 0 10px 2em;
  display: block;
  position: relative;
  background: url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/btn-icon-gray.png) no-repeat left center;
  background-size: auto;
  transition: filter 0.15s;
  filter: opacity(1);
}
#featured-products .product-row a.shop.btn:hover {
  filter: opacity(0.75);
}
#featured-products .product-row::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
#featured-products .product-row:nth-child(odd) {
  flex-direction: row-reverse;
}
@media only screen and (min-width: 620px) {
  #featured-products {
    /* .product-row:nth-child(2n+2) {
    	margin-top: 300px;
    } */
  }
  #featured-products .product-row:nth-child(odd) .product-image {
    padding-left: 5%;
    padding-right: 0;
  }
  #featured-products .product-row {
    display: flex;
    margin-bottom: 0;
    min-height: 380px;
    align-items: center;
  }
  #featured-products .product-row .product-image {
    width: 45%;
    float: left;
    flex: 1 1 45%;
    padding-right: 5%;
    max-width: 45% !important;
    min-width: 320px;
  }
  #featured-products .product-row .product-text {
    position: relative;
    width: 55%;
    float: right;
    flex: 1 1 55%;
    max-width: 55%;
  }
  #featured-products .product-row .product-text h4 {
    margin: 0 0 0.5em 0;
    font-family: MuseoSans-500, arial, helvetica, sans-serif;
  }
  #featured-products .product-row .product-text .product-buttons .btn {
    margin-right: 1em;
  }
}

#cta {
  padding: 30px 0;
}

#cta .content-container {
  text-align: center;
}

#cta .btn {
  display: block;
  background-color: transparent;
  border: 0.13em solid white;
  text-align: center;
  font-family: "UniversLTPro-55Roman", arial, helvetica, sans-serif;
  color: white;
  font-size: 2.1em;
  display: block;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0.375em 0.8em 0.25em;
  border-radius: 0.4em;
  margin-top: 0.25em;
  margin-bottom: 1.25em;
  line-height: 1.4;
  transition: all 0.2s ease-in-out;
  background-color: #2b7bb9;
}

#cta .btn::after {
  display: block;
  clear: both;
  content: "";
}

#cta .btn:hover {
  color: #2b7bb9;
  background-color: white;
  border-color: #2b7bb9;
}

@media screen and (min-width: 620px) {
  #cta .btn {
    display: inline-block;
  }
}
@media screen and (max-width: 900px) {
  #cta {
    font-size: 2vw;
  }
}
@media screen and (max-width: 619px) {
  #cta .btn {
    padding: 0.975em 0.8em 0.85em;
  }
}
/* .shop.btn:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
} */
/* Animate Elements*/
@media only screen and (min-width: 620px) {
  .animation-element,
.product-row > div {
    opacity: 0 !important;
    position: relative;
  }

  /*animation element sliding left*/
  .animation-element,
.product-row > div {
    transition: all 800ms ease-in-out;
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }

  .product-row:nth-child(even) .product-image,
.product-row:nth-child(odd) .product-text {
    transform: translate3d(-100px, 0px, 0px);
  }

  .animation-element.slide-right,
.product-row:nth-child(odd) .product-image,
.product-row:nth-child(even) .product-text {
    transform: translate3d(100px, 0px, 0px);
  }

  .product-row .in-view {
    opacity: 1 !important;
    transform: translate3d(0px, 0px, 0px) !important;
  }
}